<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppledocSettings.plist
   UniPlus

   Created by Jiahe Li on 04/10/2016.
   Copyright (c) 2016 Quicky Studio. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>--project-name</key>
        <string>UniPlus</string>
        <key>--project-company</key>
        <string>Quicky</string>
        <key>--company-id</key>
        <string>com.Quicky</string>
        
        <key>--output</key>
        <string>Docs</string>
        
        <key>--create-docset</key>
        <false/>
        
        <key>--ignore</key>
        <array>
            <string>Pods</string>
            <string>Libs</string>
            <string>*.framework</string>
        </array>
    </dict>
</plist>
